#content div.paragraph > a.anchor {
   position: absolute;
   z-index: 1001;
   width: 2.5ex;
   margin-left: -2.5ex;
   margin-top: 0.3ex;
   display: block;
   text-decoration: none !important;
   visibility: hidden;
   text-align: center;
   font-weight: normal;
}
#content div.ulist div.paragraph > a.anchor {
  margin-top: -0.2ex;
 }

#content div.paragraph > a.anchor:before{
  content: "#";
  display: block;
  padding-top: 0.1em;
}

#content div.paragraph > a.link {
  color: #0b6ec7;
  text-decoration: none;
}
#content div.paragraph > a.link:hover{
 color: #0a61af;
}


#content div.ulist > a.anchor {
  position: absolute;
  z-index: 1001;
  width: 1.5ex;
  margin-left: -1.5ex;
  margin-top: 0.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden; text-align: center;
  font-weight: normal;
}

#content div.ulist > a.anchor:before {
  content: "#";
  display: block;
  padding-top: 0.1em;
}

#content div.ulist > a.link {
  color: #0b6ec7;
  text-decoration: none;
}

#content div.ulist > a.link:hover {
  color: #0a61af;
}

#content div.ulist div.ulist > a.anchor {
  margin-left: -3.5ex;
  margin-top: 0ex;
  width: 5ex;
  text-align: left;
}

#content div.ulist div.dlist div.ulist a.anchor {
  margin-left: -3.5ex;
  margin-top: 0ex;
  width: 5ex;
  text-align: left;
}


#content div.dlist > a.anchor {
  position: absolute;
  z-index: 1001;
  width: 2.5ex;
  margin-left: -2.5ex;
  margin-top: 0.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden;
  text-align: center;
  font-weight: normal;
}

#content div.dlist div.ulist > a.anchor {
  margin-left: -1.5ex;
  margin-top: -0.15ex;
  text-align: left;
}

#content div.dlist > a.anchor:before{
  content: "#";
  display: block;
  padding-top: 0.1em;
}

#content div.dlist > a.link {
  color: #0b6ec7;
  text-decoration: none;
}

#content div.dlist > a.link:hover{
  color: #0a61af;
}

#content div:hover > a.anchor, div > a.anchor:hover {
  visibility: visible;
}