@import "../hover/hover-defaults";

$v-app-background-color: #262626;
$v-background-color: lighten($v-app-background-color, 12%);
$v-border: 1px solid (v-tint 0.8);
$font-color: valo-font-color($v-background-color, 0.85);
$v-button-font-color: $font-color;
$v-font-color: $font-color;
$v-link-font-color: lighten($v-focus-color, 15%);
$v-link-text-decoration: none;
$v-textfield-background-color: $v-background-color;

$cuba-hover-color: #75a4c1;
$cuba-maintabsheet-tabcontainer-background-color: $v-app-background-color;
$cuba-menubar-background-color: lighten($v-app-background-color, 4%);
$cuba-tabsheet-tab-caption-selected-color: $v-font-color;
$cuba-window-modal-header-background: $v-background-color;

$cuba-menubar-menuitem-border-radius: 0;