@mixin com_company_demo-hover-ext {

  .stepper-field {
    display: flex;

    .stepper-buttons {
      height: $v-unit-size;
      display: grid;

      .stepper-btn {
        height: round($v-unit-size / 2);
        margin-left: 0;
        border-radius: 0;
      }

      .stepper-btn:first-child {
        border-top-right-radius: $v-border-radius;
        margin-top: 0;
      }

      .stepper-btn:last-child {
        border-bottom-right-radius: $v-border-radius;
      }
    }
  }
}