h3, h4, h5, h6 {
    text-align: center;
}

/*** top & bottom ***/

#top {
    border-bottom: 1px solid #ddd;
    padding-top: 8px;    
    padding-bottom: 16px;    
}

#top #title {
    color: #0b6ec7;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
}

#top #title a {
    color: #0b6ec7;
    text-decoration: initial;
}

#top #title a:hover {
    text-decoration: underline;
}

#top #version {
    color: #0b6ec7;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    float: left;
}

#bottom {
    margin-left: 30px;
    margin-right: 20px;    
    margin-top: 80px;
    margin-bottom: 20px;    
}

#bottom {
    color: #0b6ec7;
    text-align: center;   
}

#bottom a {
    color: #0b6ec7;
    text-decoration: initial;
}

#bottom a:hover, #bottom a:focus {
    text-decoration: underline;
}

#single-page {
    margin-top: 30px;
}

/*** front page ***/

#front {
    margin-left: 20px;
    margin-right: 20px;    
}

#front #title {
    color: #0b6ec7;
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#front #title a {
    color: #0b6ec7;
    text-decoration: initial;
}

#front #title a:hover {
    text-decoration: underline;
}

#front #version {
    color: #0b6ec7;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#front #copyright {
    color: #a2a2a2;
    font-size: .9em;
    text-align: center;
}

#front #copyright a {
    color: #a2a2a2;
    text-decoration: initial;
}

#front #copyright a:hover, #top #copyright a:focus { 
    text-decoration: underline;
}

/*** search form ***/

form.search {
    margin-bottom: 5px;
}

#searchTerms {
    width: 150px;
}

/*** table of contents ***/

li.toc-item {
    padding: 3px 0pt 3px 16px;
}
ul.toc-root>li {
    padding: 3px 0pt 3px 0px;
}
#toc .toc-link {
    padding-left: 10px;
}
.toc-marker {
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    border-style: solid;
    border-width: 0 0 6px 6px;
    border-color: transparent;
}
.toc-marker.open {
    border-width: 0 0 6px 6px;
    border-color: transparent transparent rgb(192, 192, 192) transparent;
}
.toc-marker.closed {
    border-width: 4px 0 4px 5px;
    border-color: transparent transparent transparent rgb(192, 192, 192);
}

/*** search page ***/

#search-results .res {
    margin-top: 10px;
}

#search-results a {
    line-height: 2;
}

#search-results .res-path {
    font-size: small;
    color: #0b6ec7;
}

.hit-info {
    opacity: 0.5;
    font-size: smaller;
    line-height: 1.5;
}

.hit-info .hit {
    font-weight: bold;
}