.active-customer {
    font-weight: bold;
}

.premium-grade {
    background-color: red;
    color: white;
}

.high-grade {
    background-color: green;
    color: white;
}

.standard-grade {
    background-color: blue;
    color: white;
}