.v-table-row-unsatisfied-customer {
  font-weight: bold;
}

.v-table-cell-content-premium-grade {
  background-color: red;
}

.v-table-cell-content-high-grade {
  background-color: green;
}

.v-table-cell-content-medium-grade {
  background-color: blue;
}