@import "settings/cuba";
@import "components/asciidoc";
@import "components/awesome-icons";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

html {
	font-size: 14px;
}

html, body {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2 {
	text-align: center;
}

.sect1, .sect2, .sect3, .sect4, .sect5 {
	padding-top: 1em;
}

.listingblock pre[class] {
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: solid #d4e3fa 0.5em;
	border-radius: 0;
	margin-left: 2rem;
	padding: 0 0.5em;
}

a {
    word-wrap: break-word;
    color: #0b6ec7;
    text-decoration: none;
}

#header {
	padding-left: 0px;
	padding-right: 0px;
}

table {
	tr td, th td {
		font-size: 1em;
	}
}

.warning {
    background: #f8e8e8;
    border: solid #e59595 1px;
}

.tip {
    background: #ecf2ff;
    padding: 8px;
    margin: 10px 0;
}

.admonitionblock  {
	& > table {
		margin-bottom: 0;
	}
	& .icon {
		display :none;
	}
}

.admonitionblock > table td.content {
    border-left: none;
}

#footer {
	display: none;
}

#top #title-version {
    padding: 25px 0 15px 100px;
    display: inline-block;
}

#top #editSource {
    float: right;
    margin: 35px 40px 0 0;
    a {
        color: #000;
        &:hover {
            color: #0b6ec7;
        }
    }
    .gh-icon {
      width: 16px;
      height: 16px;
      margin: -3px 5px 0 0;
    }
}

#content {
    padding: 0 40px 0 100px;
    margin-bottom: 30px;
    float: left;
}

#bottom {
    color: #0b6ec7;
    text-align: left;
    margin-left: 100px;
    font-weight: bold;
}

p {
    font-weight: 400;
    font-size: 16px;
}

pre, pre > code {
    font-family: 'Source Code Pro', monospace;
}

*:not(pre) > code {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

h5 {
    margin-bottom: 30px;
    font-size: 17px;
}

@media #{$small} {
  body.toc2 {
	padding-left: 0;
  }

  #content {
      padding: 0 40px 0 40px;
      margin-top: 0px;
  }

  .searchfield {
      display: none;
  }

  #bottom {
      margin-left: 40px;
      font-size: 25px;
      margin-bottom: 50px;
  }

  #top #title-version {
      padding: 25px 0 15px 20px;
      max-width: 200px;
  }

  #top #copyright {
      margin: 45px 20px 0 0;
  }

  p {
      font-size: 20px;
  }

  *:not(pre) > code {
      font-size: 20px;
      word-wrap: break-word;
  }

  .listingblock {
      font-size: 20px;
  }

  h5 {
      margin-bottom: 30px;
      font-size: 30px;
  }

  .mobile-toc {
      display: none;
      background: white;
      z-index: 30;
      font-size: 30px;
      overflow-y: scroll;
      opacity: 0;
      transition: opacity 600ms;
  }

  .mobile-toc.active {
      display: block;
      opacity: 1;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
  }

  .desktop-toc {
      display: none;
  }

  #menubutton {
      display: block;
      width: 40px;
      height: 40px;
      background-image: url(../img/menu.png);
      background-size: 100%;
      display: inline-block;
      vertical-align: middle;
      margin-top: -12px;
      margin-left: 26px;
  }

  #menubutton.index-page {
      margin-top: 40px;
  }

  #closemenu {
      position: absolute;
      top: 25px;
      right: 50px;
      color: #929292;
  }

  #header .details {
      margin-left: 30px;
  }

  #header .details #revremark {
      text-align: right;
      width: 150px;
      font-weight: 400;
  }

  #header > h1:first-child {
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 0;
    width: 200px;
  }

  #header .details #revnumber {
      font-size: 17px;
  }

  #toc.toc2 {
	border: none;
	padding: 0;
	position: static;
	background-color: #FFF;
	color: #000;
	width: 100%;
	margin: 30px;
	margin-bottom: 0;

	#toctitle {
	  color: #0b6ec7;
	  font-size: 40px;
	}

    .active a {
        font-size: 30px;
        text-decoration: none;
    }

    .toc-root {
        padding-top: 10px;
    }

    .toc-link {
        padding-left: 26px;
    }

    .toc-marker {
        margin-top: 17px;
    }

    .toc-link.open a {
        color: #0b6ec7;
    }

    .toc-marker.open {
        border-width: 18px 10px 0px 10px;
        margin-top: 15px;
    }

    .toc-marker.closed {
        border-width: 10px 0 10px 17px;
        margin-top: 14px;
    }

	a {
	  color: #000;
	  text-decoration: underline;
	  outline: none;

	  &.toc-highlighted {
		font-weight: normal;
		color: #000;
	  }
	}

	.treeview {
	  ul {
	  	background-color: #FFF;
	  }

	  .hitarea {
		margin-top: 15px;
        margin-right: 5px;
	  }
	}

	ul {
	  font-size: 30px;

	  a {
	    text-decoration: none;
	  }
	}

	#treecontrol {
	  display: none;
	}
  }

  #smallDeviceIndicator {
	float: left;
  }

}

@media #{$medium} {
  body.toc2.toc-left {
 	 padding-left: $toc-width;
  }

  #content {
      padding: 0 40px 0 100px;
  }

  .searchfield {
        display: block;
    }

  #bottom {
      margin-left: 100px;
      font-size: 16px;
      margin-bottom: 30px;
  }

  #top #title-version {
      padding: 25px 0 15px 100px;
  }

  #top #copyright {
      margin: 35px 40px 0 0;
  }

  p {
      font-size: 16px;
  }

  *:not(pre) > code {
      font-size: 14px;
  }

  .listingblock {
      font-size: 14px;
  }

  h5 {
      margin-bottom: 20px;
      font-size: 17px;
  }

  .mobile-toc {
      display: none;
  }

  .desktop-toc {
      display: block;
      height: 100%;
  }

  #toc .toc-link {
      cursor: pointer;
  }

  #menubutton {
      display: none;
  }

  #toc.toc2 ul ul {
      padding-left: 0;
  }

  #toc.toc2 .treeview ul {
      background-color: #fff;
  }

  #header .details {
      margin-top: -10px;
  }

  ul.sectlevel1.treeview {
      overflow-y: auto;
      height: calc(100% - 48px);
      padding: 20px;
      padding-top: 10px;
      margin-left: 10px;
      position: relative;
  }

  #header .details {
      margin-left: 100px;
  }

  #header .details #revnumber {
      font-size: 16px;
  }

  #header > h1:first-child {
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  #toc.toc2 {
	position: fixed;
	width: $toc-width;
	left: 0;
	top: 0;
	background-color: #404040;
	color: #c0c0c0;
	padding: 0;
	overflow: hidden;
	height: 100%;

	.searchfield {
	    background-color: #0b6ec7;
        padding: 20px 20px 8px 20px;
	}

	.toc-root {
	    overflow-y: auto;
	    height: calc(100% - 97px);
	    padding: 20px;
	    margin-left: 0;
	    position: relative;
	}

	#toctitle {
	    color: #0b6ec7;
        font-size: 21px;
        display: inline-block;
        margin-top: 8px;
        vertical-align: top;
	}

	a {
	  color: #000000;
	  text-decoration: none;
	  outline: none;
	  font-weight: 400;
	  font-size: 15px;

	  &.toc-highlighted {
		font-weight: bold;
		color: #0b6ec7;
	  }
	}

	a:hover {
      color: #005eb3;
    }

	li.collapsable > a {
       color: #0b6ec7;
    }

	.toc-link.open a {
        color: #0b6ec7;
    }

	.treeview {
	  ul {
		background-color: #fff;
	  }
	}

	#toc ul {
	    font-family: "Roboto", sans-serif;
	}

	#treecontrol {
        display: inline-block;
        width: 20px;
        margin: 12px;
        cursor: pointer;
        height: 20px;
        background-image: url(../img/menu.png);
        background-size: 100%;
        vertical-align: top;
    }

    a#toc-position-marker.toc-collapsed {
        color: #000;
    }

  }

  #smallDeviceIndicator {
	float: right;
  }
}

#toc.toc2 {
    background-color: white;
    border-right: 1px solid #ccc;
}

.toc-marker.open {
    border-width: 5px 4px 0px 4px;
    margin-top: 7px;
    margin-left: -2px;
    border-color: #0b6ec7 transparent transparent transparent;
}

.toc-marker.closed {
    border-width: 4px 0 4px 5px;
    border-color: transparent transparent transparent rgb(0, 0, 0);
}

li.toc-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 3px 0pt 3px 3px;
}

toc-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

form .searchbar {
    margin-bottom: 5px;
    border: 1px solid white;
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.7) inset, 0 0 1px 0px rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    position: relative;
    padding: 3px 19px;
}

#searchTerms {
    width: 175px;
    background: none;
    border: none;
    height: 22px;
    outline: none;
    color: white;
}

#searchTerms::selection {
    background: #045298; /* WebKit/Blink Browsers */
}
#searchTerms::-moz-selection {
    background: #045298; /* Gecko Browsers */
}


input.submit {
    position: absolute;
    right: 9px;
    top: 6px;
    width: 15px;
    border: none;
    background: none;
    background-image: url(../img/search.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 17px;
}

.radiobuttons {
    color: white;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    padding-right: 0;

    input {
        border: 2px solid white;
        background: none;
        z-index: 10;
        width: 90px;
        height: 21px;
        position: absolute;
        left: -12px;
        top: -2px;
        opacity: 0;
        cursor: pointer;
    }
}

.round {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid white;
    box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.7) inset, 0 0 1px 0px rgba(255, 255, 255, 0.7);
    top: 2px;
    left: -9px;
    z-index: 5;
    position: absolute;
}

.radio-container {
    position: relative;
    margin: 0 15px;
}

input.radiobutton:checked + .round {
    background-color: white;
}

form.search {
    margin-bottom: 0;
}

#treecontrol {
  margin: 0 0 1em 0;
}

#toc-position-marker {
    position: fixed;
    opacity:0.5;
    filter:alpha(opacity=50);
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -1px;
    color: #fff;
    background: #000;
    padding: 4px 12px 6px 12px;
    font-weight: bold;
    z-index: 2;
    left: 0;
    top: 50%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

.literalblock {
	pre {
		padding: 0 0 0 1em;
		border: none;
	}
	margin-bottom: 0.5em;
}

.imageblock, .listingblock {
	div.title {
		text-align: inherit;
		color: #000;
		font-weight: bold;
		font-size: .9em;
	}
}

#header .details {
	display: block;

	#revnumber {
        color: #0b6ec7;
        font-weight: 300;
	}

	#revremark {
		color: #565656;
        font-size: .8em;
        display: block;
        position: absolute;
        top: 35px;
        right: 40px;

		&:before {
			content: "" !important;
		}
	}
}

#content #{headers()} {
  & > a.anchor {
    &:before {
      content: "\00A7";
      color: #0b6ec7;
      font-weight: 400;
      margin-top: -2px;
    }
  }
}

code {
	font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

.listingblock {
    background-color: #f1f1f1;
    padding: 15px 0px;
}

.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
    border:none
}

.listingblock pre[class] {
     border-left: none;
     margin-left: 15px;
}

#header { padding-left: 0px; padding-right: 0px; }

#content .sect1,
#content .sect2,
#content .sect3,
#content .sect4,
#content .sect5 {
    max-width: 1100px;
}

#header .details #revnumber {
    color: #0b6ec7;
    font-weight: 300;
}

#top #version {
    color: #0b6ec7;
    font-size: 16px !important;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: 300 !important;
}

#top #copyright a {
    color: #565656;
    text-decoration: initial;
}

#top #copyright a:hover, #top #copyright a:focus {
    text-decoration: underline;
}

#top #title {
    font-size: 20px;
    padding-bottom: 2px;
}

#top {
    padding-bottom: 10px;
}

#bottom.index-bottom {
    margin-left: 20px;

    #next {
        margin: 0 auto;
        text-align: center;
        width:300px;
    }

    #next a {
        width: 300px;
        color: #105EB6;
        padding: 15px 60px;
        border-radius: 25px;
        border: 2px solid #105EB6;
        transition: background 300ms;
        cursor: pointer;
    }

    #next a:hover {
        background-color: #105EB6;
        color: white;
        text-decoration: none;
    }

    #single-page {
        text-align: center;
        margin-top: 35px;
    }

    #doc-home {
        text-align: center;
        margin-top: 15px;
    }

    #copyright {
        text-align: center;
        margin-top: 10px;
        color: #909090;
        font-weight: 300;
        margin-top: 100px;

        a {
            color: #909090;
        }
    }
}

#front {
    #title {
        color: #105EB6;
        margin-top: 150px;
        margin-bottom: 10px;
    }

    #version {
        color: #105EB6;
        margin-top: 25px;
        font-weight: 400;
    }
}

.toc-collapsed {
	&.book {
	  padding-left: 2em !important;
	}
  &#toc {
	display: none;
  }
  &#toc-position-marker {
	display: block;
  }
}

#toc ul {
    font-family: "Roboto", sans-serif;
}

.treeview .hitarea {
    background-image: url(../img/toc-pointer.png);
    background-size: 96px 133px;
    margin-top: 3px;
}

#header > h1:first-child {
    color: #0b6ec7;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

#top {
    border-bottom: none;
}

ul li ul, ul li ol {
    margin-left: 5px;
}

a.live-demo-btn {
     background-color: #0b6ec7;
     text-decoration: none;
     padding: 8px 20px;
     color: #fff;
     border-radius: 20px;
     font-weight: bold;
     margin-left: 20px;
     margin-bottom: 10px;
 }

 a.live-demo-btn:hover {
     text-shadow: 0 0 10px white;
 }

  a.live-demo-btn:active, a.live-demo-btn:focus {
      outline: none;
  }

a.api-docs-btn {
     background-color: #ffffff;
     text-decoration: none;
     padding: 8px 20px;
     color: #0b6ec7;
     border-style: solid;
     border-radius: 20px;
     border-color: #0b6ec7;
     border-width: 1px;
     font-weight: bold;
     margin-left: 20px;
     margin-bottom: 10px;
}

a.api-docs-btn:hover {
    text-shadow: 0 0 13px #e6f0f9;
    box-shadow: inset 0 0 3px #b5d3ee;
}

.manual-live-demo-container {
    float: right;
}

#header {
    border-bottom: 1px solid #ddd;

    .details {
        display: block;
        margin-bottom: 22px;
        border-bottom: none;
        line-height: 2.2em;
    }
}

.warning {
    background: #f8e8e8;
    margin-bottom: 10px;
    border: none;
    padding: 8px;
}

dl dt {
    font-size: 16px;
}

#search-results .res-path {
    color: #000 !important;
}

.treeview li {
    padding: 3px 0pt 3px 10px;
}

.treeview div.lastExpandable-hitarea {
    background-position: -80px -3px;
}

.treeview div.lastCollapsable-hitarea {
    background-position: -64px -25px;
}

.polymer-demo-container {
  border: solid 1px #999;
  border-radius: 5px;
  padding: 10px 20px;
}