@import "settings/cuba";
@import "components/asciidoc";
@import "components/awesome-icons";

html {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
	text-align: center;
}

h2 {
	padding: 1em 0;
}

.sect1, .sect2, .sect3, .sect4, .sect5 {
	padding-top: 1em;
}

.listingblock pre[class] {
	border-right: none;
	border-top: none;
	border-bottom: none;
	border-left: solid #d4e3fa 0.5em;
	border-radius: 0;
	margin-left: 2rem;
	padding: 0 0.5em;
}

#header {
	padding-left: 0px;
	padding-right: 0px;
}

table {
	tr td, th td {
		font-size: 1em;
	}
}

.warning {
    background: #f8e8e8;
    border: solid #e59595 1px;
}

.tip {
    background: #ecf2ff;
    padding: 20px;
    margin: 10px 0;
}

.admonitionblock  {
	& > table {
		margin-bottom: 0;
	}
	& .icon {
		display :none;
	}
}

.admonitionblock > table td.content {
    border-left: none;
}

#footer {
	display: none;
}

@media #{$small} {
  body.toc2 {
	padding-left: 0;
  }

  #toc.toc2 {
	border: none;
	padding: 1em 0;
	position: static;
	background-color: #FFF;
	color: #000;
	width: 100%;

	#toctitle {
	  color: #0b6ec7;
	}

	a {
	  color: #000;
	  text-decoration: underline;
	  outline: none;

	  &.toc-highlighted {
		font-weight: normal;
		color: #000;
	  }
	}

	.treeview {
	  ul {
	  	background-color: #FFF;
	  }

	  .hitarea {
		margin-top: 4px;
	  }
	}

	ul {
	  font-size: inherit;
	  ul {
		padding-left: 0;
	  }
	}

	#treecontrol {
	  display: none;
	}
  }

  #smallDeviceIndicator {
	float: left;
  }

}

@media #{$medium} {
  body.toc2.toc-left {
 	 padding-left: $toc-width;
  }

  #toc.toc2 {
	position: fixed;
	width: $toc-width;
	left: 0;
	top: 0;
	background-color: #404040;
	color: #c0c0c0;
	padding: 0;
	overflow: hidden;

	.searchfield {
	    background-color: #0b6ec7;
        padding: 20px 20px 8px 20px;
	}

	.toc-root {
	    overflow-y: scroll;
	    height: calc(100% - 97px);
	    padding: 30px;
	    position: relative;
	}

	#toctitle {
	  color: #c0c0c0;
	}

	a {
	  color: #000000;
	  text-decoration: none;
	  outline: none;
	  font-weight: 400;

	  &.toc-highlighted {
		font-weight: bold;
		color: #0b6ec7;
	  }
	}

	.treeview {
	  ul {
		background-color: #404040;
	  }
	}

	#treecontrol {
      display: block;
    }

  }

  #smallDeviceIndicator {
	float: right;
  }
}

#toc.toc2 {
    background-color: white;
    border-right: 1px solid #ccc;
}

.toc-marker.open {
    border-width: 5px 4px 0px 4px;
    margin-top: 7px;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
}

.toc-marker.closed {
    border-width: 4px 0 4px 5px;
    border-color: transparent transparent transparent rgb(0, 0, 0);
}

#toc .toc-link {
    padding-left: 15px;
}

li.toc-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

toc-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

form .searchbar {
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    padding: 3px 19px;
}

#searchTerms {
    width: 175px;
    background: none;
    border: none;
    height: 22px;
    outline: none;
    color: white;
}

input.submit {
    position: absolute;
    right: 6px;
    border: none;
    background: none;
    color: white;
    font-size: 17px;
}

.radiobuttons {
    color: white;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    padding-right: 0;

    input {
        border: 2px solid white;
        background: none;
        z-index: 10;
        position: absolute;
        left: -8px;
        opacity: 0;
    }
}

.round {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid white;
    top: 2px;
    left: -9px;
    z-index: 5;
    position: absolute;
}

.radio-container {
    position: relative;
    margin: 0 12px;
}

input.radiobutton:checked + .round {
    background-color: white;
}

form.search {
    margin-bottom: 0;
}

#treecontrol {
  margin: 0 0 1em 0;
}

#toc-position-marker {
    position: fixed;
    background-color: #404040;
    opacity:0.5;
    filter:alpha(opacity=50);
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -1px;
    font-family: verdana, helvetica, arial, sans-serif;
    color: #fff;
    padding: 4px 12px 6px 12px;
    font-weight: bold;
    z-index: 2;
    left: 0;
    top: 50%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

.literalblock {
	pre {
		padding: 0 0 0 1em;
		border: none;
	}
	margin-bottom: 0.5em;
}

.imageblock, .listingblock {
	div.title {
		text-align: inherit;
		color: #000;
		font-weight: bold;
		font-size: .9em;
	}
}

#header .details {
	display: block;

	#revnumber {
		color: #0b6ec7;
		font-size: 1.6em;
		font-weight: bold;
		display: block;
	}

	#revremark {
		color: #a2a2a2;
        font-size: .9em;
		display: block;

		&:before {
			content: "" !important;
		}
	}
}

#content #{headers()} {
  & > a.anchor {
    &:before {
      content: "\00A7";
      color: #0b6ec7;
    }
  }
}

code {
	font-family: 'Courier New', Courier, monospace;
}

p {
    font-weight: 400;
    font-size: 16px;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.audioblock, .imageblock, .literalblock, .listingblock, .stemblock, .videoblock {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}

.listingblock {
    background-color: #f1f1f1;
    padding: 30px 0px;
}

.literalblock pre, .literalblock pre[class], .listingblock pre, .listingblock pre[class] {
    border:none
}

.listingblock pre[class] {
     border-left: none;
}

#header { padding-left: 0px; padding-right: 0px; }

#content {
    padding: 0 40px 0 100px;
    margin-bottom: 30px;
    float: left;
}

#content .sect1,
#content .sect2,
#content .sect3,
#content .sect4,
#content .sect5 {
    max-width: 1100px;
}

#header .details #revnumber {
    color: #0b6ec7;
    font-size: 12px;
}

#bottom {
    color: #0b6ec7;
    text-align: left;
    margin-left: 100px;
    font-weight: bold;
}

#top #version {
    color: #0b6ec7;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: 300;
}

#top #copyright {
    color: #565656;
    float: right;
    margin: 35px 40px 0 0;
}

#top #copyright a {
    color: #565656;
    text-decoration: initial;
}

#top #copyright a:hover, #top #copyright a:focus {
    text-decoration: underline;
}

#top #title-version {
    padding: 25px 0 15px 100px;
    display: inline-block;
}

#top #title {
    font-size: 20px;
    padding-bottom: 2px;
}

#top {
    padding-bottom: 14px;
}

#bottom {
    text-align: left;
    margin-left: 100px;
    font-weight: bold;
}

h5 {
    margin-bottom: 30px;
    font-size: 24px;
}

#bottom.index-bottom {
    margin-left: 20px;

    #next {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
        border-radius: 25px;
        border: 2px solid #105EB6;
        transition: background 300ms;
        cursor: pointer;
    }

    #next:hover {
        background-color: #105EB6;;

        a {
            color: white;
        }

        a:hover {
            text-decoration: none;
        }
    }

    #single-page {
        text-align: center;
        margin-top: 20px;
    }

    #copyright {
        text-align: center;
        margin-top: 10px;
        color: #909090;
        font-weight: 300;
        margin-top: 100px;

        a {
            color: #909090;
        }
    }
}

#front {
    #title {
        color: #105EB6;
        margin-top: 150px;
        margin-bottom: 10px;
    }

    #version {
        color: #105EB6;
        margin-top: 25px;
        font-weight: 400;
    }
}

.toc-collapsed {
	&.book {
	  padding-left: 2em !important;
	}
  &#toc {
	display: none;
  }
  &#toc-position-marker {
	display: block;
  }
}